.History {
  text-align: left;
  padding: 10px;
  /*background-color: chocolate;*/
  /*width: min-content;*/
  /*flex: 1 30%;*/
  /*min-width: 20%;*/
}

ul {
  margin-left: 10px;
}

li {
  cursor: pointer;
}

.manifestItem {
  min-width: 0;
}
