.Show {
  flex: 1 0 auto;
  flex-flow: row wrap;
  padding: 10px;
}

.Show>pre {
  min-width: 0;
  background-color: snow;
}

.Loading {
  flex: 1 0 auto;
  flex-flow: row wrap;

  font-size: x-large;
  align-content: center;
  text-align: center;
  padding-top: 50px;
}
